* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(fonts/Helvetica.ttf);
    font-family: helvetica;
}
body{
    color: #000000;
    font-family: helvetica;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 480px;;

    display: flex;
    flex-direction: column;
}
header{
    padding-top: 30px;
    margin-bottom: 60px;
    background-color: #29abe5;
    min-height: 70px;
}
h1{
    clear: both;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Notable', sans-serif;
    letter-spacing: 10px;
    text-shadow: 1px 1px 6px black;
}
h2{
    clear: both;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    
    display: none; 
}
#toggle{
    clear: both;
    display: none

}
.logo{
    display: none;
}
.tablet-pc{
    display: none;
}
.menu{
    margin: 0 30px 0 0;
    
    display: flex;
    flex-direction: column;
}
.menu a{
    clear: right;
    text-decoration: :none;
    margin: 0 10px;
    
    display: flex;
    flex-direction: column;
}
.main{
    float: left;
    text-align: justify;
    width: 62.5%;
    margin-left: 100px;
    
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-size: 20px;
    color: crimson;
}
h4{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
main .copyright-text{
    color: blue;
    font-weight: bold;
}
main p{
    padding-bottom: 20px;
}
figcaption{
    font-size: 10px;
    padding-bottom: 20px;
}
img{
    max-width: 100%;
}
aside{
    width: 31.25%;
    padding-bottom: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    
    display: inline-block; 
}
aside .reasons{
    list-style-position: inside;
    background-color: #efefef;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
aside h3{
    text-align: center;
    background-color: #29abe5;
    color: #FFF;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
aside ol li{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
footer .copyright{
    float: left;
}
.cookies{
    float: right;
    color: #FA0;
    border: solid;
    border-color: #FFF;
    opacity: 50%;
}

/* MOBILE ONLY */
@media only screen and (max-width: 480px){
        label{
        display: flex;
        cursor: pointer;
    }
    .menu{
        text-align: :center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: flex;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        line-height: 70px;
    }
    #toggle:checked + .menu{
        display: flex;
    }
    .pc{
        display: none;
    }
}






/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 1179px){
    header .logo{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        position:absolute; top:0; left:0;
    }
    .container{
        min-width: 100%;
        justify-content: center;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    nav{
        font-size: 20px;
    }
    .title{
        font-size: 30px;
        font-family: 'Notable', sans-serif;
        letter-spacing: 10px;
        padding-top: 50px;
    }
    img{
        width: 70%;
    }
    .tablet-pc{
        max-width: 100%;
        
        display: flex;
        margin: auto;
    }
    .pc{
        display: none;
    }
    aside .reasons{
        list-style-position: inside;
        background-color: #efefef;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    aside h3{
        text-align: center;
        background-color: #29abe5;
        color: #FFF;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    aside ol li{
        text-indent: 50px;
        text-align: left;
        padding-bottom: 20px;
    }
    aside .pc{
        display: none;
    }
}









/* PC ONLY */
@media only screen and (min-width: 1280px){
        header .logo{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        position:absolute; top:0; left:0;
    }
    .container{
        min-width: 100%;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    nav{
        font-size: 20px;
    }
    img{
        width: 70%;
        float: right;
    }
    .title{
        font-size: 30px;
        font-family: 'Notable', sans-serif;
        letter-spacing: 10px;
    }
    .main{
        float: left;
        width: 800px;
        margin-left: 50px;
        padding-top: 50px;
        
        display: flex;
        flex-direction: column;
    }
    figcaption{
        clear: both;
        float: right;
    }
    main .copyright-text{
        color: blue;
        font-weight: bold;
    }
    .tablet-pc{
        max-width: 100%;
        
        display: flex;
        margin: auto;
    }
    aside{
        float: right;
        padding-top: 50px;
        margin-right: 30px;
    }
    aside .reasons{
        list-style-position: inside;
        background-color: #efefef;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    aside h3{
        text-align: center;
        background-color: #29abe5;
        color: #FFF;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    aside ol li{
        text-indent: 50px;
        text-align: left;
        padding-bottom: 20px;
    }
    .mobile-tablet{
        display: none;
    }
}