* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(fonts/Helvetica.ttf);
    font-family: helvetica;
}
body{
    color: #000000;
    font-family: helvetica;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 480px;;

    display: flex;
    flex-direction: column;
}
header{
    padding-top: 30px;
    margin-bottom: 60px;
    background-color: #29abe5;
    min-height: 70px;
}
.info{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
form{
    min-width: 100%;
}
.contact-form li{
    margin-left: 20px;
}
span{
    font-size: 12px;
}
h1{
    clear: both;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Notable', sans-serif;
    letter-spacing: 10px;
    text-shadow: 1px 1px 6px black;
}
h2{
    clear: both;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}
.menu-label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    
    display: none; 
}
#toggle{
    clear: both;
    display: none
}
.logo{
    display: none;
}
.menu{
    margin: 0 30px 0 0;
    
    display: flex;
    flex-direction: column;
}
.menu a{
    clear: right;
    text-decoration: :none;
    margin: 0 10px;
    
    display: flex;
    flex-direction: column;
}
.contact-form{
    padding-bottom: 20px;
    text-align: left;
}
.contact-form li{
    padding: 10px;
    font-size: 20px;
    margin-left: 35px;
}
.contact-form input{
    font-size: 20px;
}
img{
    padding-top: 20px;
    max-width: 200px;
}
button{
    font-size: 20px;
}
aside{
    width: 400px;
    padding-bottom: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    
    display: inline-block; 
}
aside h4{
    text-align: center;
    background-color: #29abe5;
    color: #FFF;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
aside figure{
    background-color: #efefef;
}
figcaption{
    font-size: 11px;
}
footer{
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
footer .copyright{
    float: left;
}
.cookies{
    float: right;
    color: #FA0;
    border: solid;
    border-color: #FFF;
    opacity: 50%;
}



/* MOBILE ONLY */
@media only screen and (max-width: 480px){
        .menu-label{
        display: flex;
        cursor: pointer;
    }
    .container{
        min-width: 100%;
    }
    .menu{
        text-align: :center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: flex;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        line-height: 70px;
    }
    #toggle:checked + .menu{
        display: flex;
    }
}


/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 1179px){
    .logo{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        position:absolute; top:0; left:0;
    }
    .container{
        min-width: 100%;
        justify-content: center;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    nav{
        font-size: 20px;
    }
    form{
        float: left;
        min-width: 62.5%;
        margin-left: 20px; 
        clear: both;
    }
    aside{
        float: right;
        margin-right: 20px;
        min-width: 31.5%;
    }
    

    
    
    
    
    
/* PC ONLY */
@media only screen and (min-width: 1280px){
        .logo{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        position:absolute; top:0; left:0;
    }
    .container{
        min-width: 100%;
        justify-content: center;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    nav{
        font-size: 20px;
    }
    form{
        float: left;
        min-width: 500px;
        margin-left: 20px;    
    }
    aside{
        float: right;
        margin-right: 20px;
    }
}